@import '../mixins.scss';

.input {
  @include border;
  @include curved;

  margin: 5px 0;
  padding: 7px 10px;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

.input[type="button"] {
  @include shadowHover(4px, 6px);

  cursor: pointer;
}

.error {
  background-color: var(--color-red);
}

.errorMessage {
  color: var(--color-fg);
  font-weight: bold;
  text-align: center;
  margin: 5px 0 7px 0;
}